@charset 'utf-8';

/* reset for mobile */
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: ' ';}


/* common */
body {font-family: 'AritaDotum', 'NotoSansKR',  '나눔고딕', 'NanumGothic', 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #1b2529; background-color: #fff;}
#wrapper {min-width: 320px; max-width: 1024px; margin: 0 auto; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -41px; width: 100%; line-height: 40px; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.7); background-color: rgba(0,0,0,0.5); color: #fff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}

#header {position: relative; left: 0; top: 0; width: 100%; height: 60px; z-index: 100;}
#header div.container-box {position: relative; width: 100%; height: 100%; background-color: #fff; margin: 0 auto; z-index: 1000; overflow: hidden;}
#header div.container-box div.container {width: 100%; height: 100%; margin: 0 auto; padding: 0 20px; overflow: hidden;}
#header div.container h1 {position: absolute; display: block; left: 20px; top: 50%; transform: translate(0, -50%); width: 156px;}
#header div.container h1 a {display: block;}
#header div.container h1 a img.color {display: block;}

#header div.container ul.util {display: flex; position: absolute; right: 3.5%; top: 50%; transform: translate(0, -50%);}
#header div.container ul.util > li + li {margin-left: 13px;}
#header div.container ul.util a {display: block; width: 18px;}
#header div.container ul.util a img.default {display: none;}
#header div.container ul.util a img.color {display: block;}
#header div.container ul.util a.search-icon {position: relative; top: -2px;}

#header div.container.open ul.util a {display: none;}
#header div.container.open span.menu-bg {display: block;}
#header div.container span.menu-bg {position: absolute; left: 0; top: 0; display: none; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.8);}

#gnb {position: fixed; right: -1000%; top: 0; max-width: 1000px; width: 400px; height: 100%; background-color: #fff; overflow: auto; padding: 20px; box-sizing: border-box; font-size: 16px; font-family: 'NotoSansKR'; color: #333; transition: right 0.3s;}
#gnb a.menu-close {display: none; position: absolute; right: 5%;}
#gnb.open {right: 0;}
#gnb.open a.menu-close {display: block;}

#gnb a {display: block; transition: color 0.3s;}

#gnb > ul {position: absolute; top: 30px; width: 90%; overflow: hidden;}
#gnb > ul > li {width: 100%; overflow: hidden;}
#gnb > ul > li.on > a {color: #0054a6;}
#gnb > ul > li > a {position: relative; line-height: 50px; font-weight: 700; border-bottom: 1px solid #ccc; }
#gnb > ul > li > ul {background-color: #0054a6; color: #fff; height: 0; overflow: hidden;}
#gnb > ul > li.on > ul {height: 100%;}
#gnb > ul > li > ul > li + li {margin-top: 3px;}
#gnb > ul > li > ul > li > a {line-height: 40px; font-size: 15px; font-weight: 400; padding-left: 22px;}
#gnb > ul > li > ul > li.on > a,
#gnb > ul > li > ul > li > a:hover {background-color: rgba(255,255,255,0.05);}
#gnb > ul > li > ul > li > ul {display: none;}

/* main */
#main-visual {position: relative; margin: 0 auto; max-width: 100%; height: 100vh; overflow: hidden;}
#main-visual ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual ul.slide > li.on {display: block;}
#main-visual ul.slide > li > img {min-width: 100%; min-height: 100%; object-fit: cover;}
#main-visual > img {display: block; position: absolute; max-width: 380px; left: 50%; top: 5%; transform: translate(-50%, 0);}
#main-visual div.blue-box {position: absolute; left: 0; bottom: 0; width: 100%; height: 150px; background-color: rgba(0, 84, 166, 0.85); }

#main-visual div.blue-box ul.indicator {display: block; position: absolute; left: 20px; top: 50%; transform: translate(0, -50%); width: 120px; height: 40px; background-color: rgba(0,0,0,0.5); border-radius: 40px; color: #fff;}
#main-visual div.blue-box ul.indicator > li {position: relative; left: 20px; top: 50%; transform: translate(0, -50%); float: left; width: 7px; height: 7px; background-color: rgba(255,255,255,0.5); border-radius: 50px; text-indent: -9999px; overflow: hidden;}
#main-visual div.blue-box ul.indicator > li.on {background-color: #fff;}
#main-visual div.blue-box ul.indicator > li + li {margin-left: 10px;}
#main-visual div.blue-box ul.indicator > li a {display: block;}
#main-visual div.blue-box p.control {position: absolute; left: 107px; top: 50%; transform: translate(0, -50%); width: 20px; height: 20px; background-color: rgba(0,0,0,0.5); border: 1px solid #fff; border-radius: 50px; text-indent: -9999px; overflow: hidden;}
#main-visual div.blue-box p.control a.play {display: block; width: 100%; height: 100%; background: url(../image/icon/visual-pause.svg) center center no-repeat; background-size: 40% 50%;}
#main-visual div.blue-box p.control a.play span.start {display: none;}
#main-visual div.blue-box p.control a.play span.pause {display: block;}
#main-visual div.blue-box p.control a.play.on {background-image: url(../image/icon/visual-play.svg);}
#main-visual div.blue-box p.control a.play.on span.start {display: block;}
#main-visual div.blue-box p.control a.play.on span.pause {display: none;}
#main-visual div.blue-box > a.scroll-box {position: relative; display: block; width: 150px; height: 100%; margin: 0 auto;}
#main-visual div.blue-box > a.scroll-box span {display: block; padding-top: 30px; text-align: center; color: #fff; font-size: 15px; font-weight: 600;}
#main-visual div.blue-box > a.scroll-box span:hover {text-decoration: underline;}
#main-visual div.blue-box > a.scroll-box span::before {content: ''; display: block; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 90px; height: 14px; background: url(../image/icon/visual-scroll.svg) center center no-repeat; background-size: contain; animation: scroll 1.2s ease-in-out infinite both;}


@keyframes scroll {
  0% {top: 40%; opacity: 0;}
  50% {top: 45%; opacity: 1;}
  100% {top: 40%;  opacity: 0;}
}

#main-visual div.blue-box > a.scroll-box span::after {content: ''; display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 1px; height: 40px; background-color: #fff;}

#quick {position: relative; margin: 0 auto; padding: 0 20px 90px;}
#quick h3 {font-size: 20px; font-weight: 600; line-height: 22px; text-align: center; padding-top: 50px; margin-bottom: 50px;}
#quick ul.container {position: relative; width: 100%; padding: 20px 10px; display: flex; flex-wrap: wrap;}
#quick ul.container li {position: relative; width: calc(33.33% - 10px); height: 100%;}
#quick ul.container li + li {margin-left: 10px;}
#quick ul.container li:nth-child(1) {top: 300px; transition: .5s all 0.25s cubic-bezier(.01, .96, .95, .89);}
#quick ul.container li:nth-child(2) {top: 300px; transition: .5s all 0.5s cubic-bezier(.01, .96, .95, .89);}
#quick ul.container li:nth-child(3) {top: 300px; transition: .5s all 0.75s cubic-bezier(.01, .96, .95, .89);}
#quick ul.container li:nth-child(4) {top: 300px; transition: .5s all 1s cubic-bezier(.01, .96, .95, .89); margin-left: 0;}
#quick ul.container li:nth-child(5) {top: 300px; transition: .5s all 1.25s cubic-bezier(.01, .96, .95, .89);}
#quick ul.container li:nth-child(6) {top: 300px; transition: .5s all 1.5s cubic-bezier(.01, .96, .95, .89);}
#quick ul.container li:nth-child(7) {top: 300px; transition: .5s all 1.75s cubic-bezier(.01, .96, .95, .89); display: none;}
#quick ul.container li:nth-child(1).on {top: 0;}
#quick ul.container li:nth-child(2).on {top: 0;}
#quick ul.container li:nth-child(3).on {top: 0;}
#quick ul.container li:nth-child(4).on {top: 0;}
#quick ul.container li:nth-child(5).on {top: 0;}
#quick ul.container li:nth-child(6).on {top: 0;}

#quick ul.container li a::before {content: ''; display: block; width: 100%; height: 120px;  border: 1px solid #d7d7d7; border-radius: 28px; margin: 0 auto;}
#quick ul.container li a:hover::before {border-color: #0054a6; background-color: #0054a6;}

#quick ul.container li a {position: relative; display: block; cursor: pointer;}
#quick ul.container li a::after {content: ''; display: block; width: 100%; height: 50%; position: absolute; left: 0; top: 12px; background:  url(../image/main/quick-01.svg) center center no-repeat;}
#quick ul.container li:nth-child(2) a::after {background-image: url(../image/main/quick-02.svg);}
#quick ul.container li:nth-child(3) a::after {background-image: url(../image/main/quick-03.svg);}
#quick ul.container li:nth-child(4) a::after {background-image: url(../image/main/quick-04.svg);}
#quick ul.container li:nth-child(5) a::after {background-image: url(../image/main/quick-05.svg);}
#quick ul.container li:nth-child(6) a::after {background-image: url(../image/main/quick-06.svg);}
#quick ul.container li a span.text {display: block; text-align: center; padding-top: 20px; padding-bottom: 30px; font-size: 18px; font-weight: 500; transition: all 0.3s;}
#quick ul.container li a span.text::after {position: relative; bottom: 10px; content: ''; display: block; width: 70%; height: 14px; margin: 0 auto; border-radius: 40px; background-color: rgb(0, 84, 166, 0.1); opacity: 0; transition: all 0.3s;}

#quick ul.container li:nth-child(1) a:hover::after {background-image: url(../image/main/quick-01-hover.svg); background-size: 40% auto;}
#quick ul.container li:nth-child(2) a:hover::after {background-image: url(../image/main/quick-02-hover.svg);}
#quick ul.container li:nth-child(3) a:hover::after {background-image: url(../image/main/quick-03-hover.svg);}
#quick ul.container li:nth-child(4) a:hover::after {background-image: url(../image/main/quick-04-hover.svg);}
#quick ul.container li:nth-child(5) a:hover::after {background-image: url(../image/main/quick-05-hover.svg);}
#quick ul.container li:nth-child(6) a:hover::after {background-image: url(../image/main/quick-06-hover.svg);}

#quick ul.container li a:hover span.text {color: #0054a6; font-weight: 600;}
#quick ul.container li a:hover span.text::after {opacity: 1;}


#business {width: 100%; margin: 0 auto; padding: 50px 20px 10px 20px; background-color: #fdfaf7; overflow: hidden;}
#business div.wrap {position: relative;  margin: 0 auto; top: 500px; transition: .5s all 0.7s cubic-bezier(.01, .96, .95, .89); overflow: hidden;}
#business div.wrap.on {top: 0;}

#business div.wrap h3 {position: relative; font-size: 20px; line-height: 22px; font-weight: 600; text-align: center;}
#business div.wrap div.container {position: relative; padding-top: 40px; width: 90%; height: 400px; overflow: hidden;}
#business div.wrap div.container ul {position: relative; width: 90%; height: 100%; overflow: hidden;}
#business div.wrap div.container ul > li {position: absolute; left: 75%; top: 40%; transform: translate(-50%, -50%); transition: .5s all 0.25s cubic-bezier(.01, .96, .95, .89); width: 200px; height: 260px; opacity: 0; z-index: 100;}
#business div.wrap div.container ul > li.on {opacity: 1;}

#business div.wrap div.container ul > li a {position: relative; display: block; width: 100%; height: 100%;}
#business div.wrap div.container ul > li a img {display: block; width: 100%; height: 100%;}
#business div.wrap div.container ul > li > a > div.text-box {position: absolute; top: 0; left: -67%; padding-top: 70px;}
#business div.wrap div.container ul > li > a > div.text-box h4 {color: #000; font-size: 15px; font-weight: 600; margin-bottom: 17px;}
#business div.wrap div.container ul > li > a > div.text-box p {display: block; font-size: 16px; font-weight: 600; padding: 15px; color: #fff; background-color: rgba(0, 84, 166, 0.8); box-shadow: 8px 13px 30px 0 rgb(0 84 166 / 45%); margin-bottom: 18px;}
#business div.wrap div.container ul > li > a > div.text-box span {display: inline-block; font-size: 15px; font-weight: 600; border: 1px solid #000; padding: 5px;}
#business div.wrap div.container ul > li > a > div.text-box span i {display: inline-block; position: relative; top: -1px; padding-left: 10px; font-weight: 600;}


@media screen and (min-width: 600px) {
  #business div.wrap div.container ul > li {width: 300px; height: 360px;}
  #business div.wrap div.container ul > li > a > div.text-box {left: -60%;}
  #business div.wrap div.container ul > li > a > div.text-box h4 {font-size: 17px;}
  #business div.wrap div.container ul > li > a > div.text-box p {display: block; font-size: 18px; padding: 20px 24px;}
  #business div.wrap div.container ul > li > a > div.text-box span {font-size: 17px; padding: 10px;}
}

#business div.wrap div.indicator {position: absolute; top: 45%; transform: translate(0, -50%); width: 100%;}
#business div.wrap div.indicator > a {display: inline-block; position: absolute; width: 40px; height: 40px; background-color: rgba(0,0,0,0.4); border-radius: 20px; font-size: 30px; transition: all 0.3s;}
#business div.wrap div.indicator > a:hover {background-color: #0054a6;}
#business div.wrap div.indicator > a.prev {left: 1%;}
#business div.wrap div.indicator > a.next {right: 5%;}
#business div.wrap div.indicator > a > i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff;}






#news {max-width: 1400px; margin: 0 auto; padding: 50px 20px;}
#news div.container {width: 100%;}
#news div.container div.cont-top {color: #0054a6; font-weight: 600; font-size: 15px; margin-bottom: 20px;}
#news div.container div.cont-top > a + a {margin-left: 11px;}
#news div.container div.cont-top > a + a:hover {text-decoration: underline;}
#news div.container div.cont-top > a:first-child {line-height: 80px; text-align: center; border-radius: 100px; padding: 12px; background-color: #0054a6; color: #fff; }
#news div.container div.cont-top > a:nth-child(2)::after {content: '/'; display: inline-block; padding-left: 11px;}
#news div.container div.cont-bottom {display: block;}
#news div.container div.cont-bottom ul {width: auto; margin-bottom: 4px; padding: 6px 18px 9px; border: 1px solid #ebebee; border-radius: 10px; box-shadow: 3px 4px 10px 0 rgb(0 0 0 /7%); background-color: #fff;;}
#news div.container div.cont-bottom ul > li { font-size: 15px; font-weight: 600; margin-top: 5px; margin-bottom: 15px; }
#news div.container div.cont-bottom ul > li.red {color: #ea4c49;}
#news div.container div.cont-bottom ul > li.blue {color: #1a94e6;}
#news div.container div.cont-bottom ul > li.para {font-weight: 500;}
#news div.container div.cont-bottom ul > li.para > a {display: -webkit-box; overflow: hidden; white-space: pre-wrap; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 2.4em; transition: all 0.3s;}
#news div.container div.cont-bottom ul > li.para > a:hover {text-decoration: underline;}

#career {position: relative; margin: 60px auto; padding: 150px 140px 150px 0; background: url(../image/main/career-bg.png) no-repeat center center; background-size: contain;}
#career::before {content: ''; display: block; position: absolute; top: 270px; left: -500px; width: 940px; height: 700px; border-radius: 60px; background-color: #f5f5f7; transform: skewX(-30deg); z-index: -10;}
#career div.text-box {width: 100%; color: #fff; text-align: right; }
#career div.text-box h3 {font-size: 78px; font-weight: 700; }
#career div.text-box h4 {font-size: 20px; font-weight: 500; margin-top: 6px;}
#career div.text-box h4::after {content: ''; display: block; width: 100%; height: 1px; background-color: rgba(255,255,255,0.2); margin-top: 25px;}
#career div.text-box ul.icon-box {margin-top: 85px; display: inline-flex;}
#career div.text-box ul.icon-box > li {position: relative; width: 180px; height: 180px; line-height: 180px; border: 2px solid #fff; border-radius: 43px; font-size: 20px; font-weight: 600; text-align: center; vertical-align: top;}
#career div.text-box ul.icon-box > li + li {margin-left: 40px;}
#career div.text-box ul.icon-box > li > a {position: relative; display: inline-block; width: 100%; height: 100%; padding-top: 40px; box-sizing: border-box; transition: all 0.3s;}
#career div.text-box ul.icon-box > li > a::before {position: absolute; left: 50%; top: 25%; transform: translate(-50%, 0); content: ''; display: inline-block; background: url(../image/icon/career-01.svg) no-repeat center center; background-size: contain;}
#career div.text-box ul.icon-box > li:nth-child(1) > a::before {
  width: 46px; height: 52px; background-image: url(../image/icon/career-01.svg);
}
#career div.text-box ul.icon-box > li:nth-child(2) > a::before {
  width: 58px; height: 58px; background-image: url(../image/icon/career-02.svg);
}
#career div.text-box ul.icon-box > li:nth-child(3) > a::before {
  width: 64px; height: 50px; background-image: url(../image/icon/career-03.svg);
}
#career div.text-box ul.icon-box > li:hover {background-color: #fff; color: #000;}
#career div.text-box ul.icon-box > li:nth-child(1) > a:hover::before {
  background-image: url(../image/icon/career-hover-01.svg);
}
#career div.text-box ul.icon-box > li:nth-child(2) > a:hover::before {
  background-image: url(../image/icon/career-hover-02.svg);
}
#career div.text-box ul.icon-box > li:nth-child(3) > a:hover::before {
  background-image: url(../image/icon/career-hover-03.svg);
}
#career div.slide {position: absolute; left: 20px; top: 80px;}
#career div.slide ul.box {position: relative; width: 420px; height: 313px; border-radius: 36px; overflow: hidden;  box-shadow: 0 4px 16px rgba(0,0,0,0.5)}
#career div.slide ul.box > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: all 0.3s; display: none;}
#career div.slide ul.box > li.on {display: block;}
#career div.slide ul.box > li:hover {transform: scale(1.05, 1.05);}
#career div.slide ul.box > li a {display: block;}
#career div.slide ul.box > li a img {width: 100%; display: block;}

#banner-slide {position: relative; max-width: 1400px; margin: 60px auto; margin-bottom: 100px;  padding: 30px 20px;}
#banner-slide div.box {position: relative; overflow: hidden;}
#banner-slide div.box ul.banner {position: relative; width: 5000px; overflow: hidden;}
#banner-slide div.box ul.banner > li {float: left; height: 100%;}
#banner-slide div.box ul.banner > li + li {margin-left: 15px;}
#banner-slide div.box ul.banner > li > a {display: block; width: 100%; height: 100%; border: 1px solid #aaa; transition: all 0.3s;}
#banner-slide div.box ul.banner > li > a:hover {border: 1px solid #000;}
#banner-slide div.box ul.banner > li > a > img {display: block; width: 100%; height: 120px;}




/* module */
.custom-scroll {overflow: auto; scrollbar-width: thin; scrollbar-color: #e0e0e0; -ms-overflow-style: none;}
.custom-scroll::-webkit-scrollbar {width: 3px;}
.custom-scroll::-webkit-scrollbar-thumb {background-color: transparent; border-radius: 10px; background-color: rgba(0, 0, 0, 0.5);}
.custom-scroll:hover::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.1);}
.custom-scroll::-webkit-scrollbar-track {background-color: rgba(0, 0, 0, 0.05);}